body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
        margin-bottom: 1.5rem;
        color: #66fcf1; 
        text-shadow: 0px 0px 8px rgba(102, 252, 241, 0.7); 
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background-color: #f4f4f4;
    padding: 50px 20px;
    text-align: center;
}

.hero h1 {
    margin: 0;
    color: #333;
}

.hero p {
    color: #666;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #003d82;
}
