<!DOCTYPE html>
<html lang="en">
<head>
    <title>ESP Control Page</title>
    <style>
        .rainbow {
            background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
            color: white; 
            font-size: 72px; 
            text-align: center; 
            padding: 20px;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        console.log(document.domain, location.port)
        socket.on('update_color', function(data) {
            var content = document.getElementById("content");
            if(data.color === "rainbow") {
                content.className = "rainbow";
                content.innerHTML = "42"; // 在彩虹背景下顯示 42
            } else {
                document.body.style.backgroundColor = data.color;
                content.className = "";
                content.innerHTML = ""; // 清空內容
            }
            // 檢查計數器值並顯示警告
            if(data.cnt == 43) {
                alert('還要繼續嗎?你已經解開了宇宙謎團了');
            }
        });

    </script>
</head>
<body>
    <h1>ESP 控制頁面</h1>
    <div id="content" style="height: 100vh;"></div>
</body>
</html>

