<!DOCTYPE html>
<html>
<head>
<title>MathJax TeX Test Page</title>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">

</script>
<script type="module" src="https://md-block.verou.me/md-block.js"></script>

</head>
<body>
    <h1>數學起源:$1+1=2$</h1>
<h1>微積分基本定理:$\frac{d}{dx} \int_{a}^{x} f(t)\,dt = f(x)$</h1>
<h1>歐拉公式:$e^ {𝝅i} +1 =0$</h1>
<h1>勾股定理: $a^2 + b^2 = c^2$</h1>
<h1>梯度下降: $-\eta \nabla f$</h1>
<h1>貝氏定理: $P(A|B) = \frac{P(B|A)P(A)}{P(B)}$</h1>
<h1>模運算:$2 \equiv 1(mod 5)$</h1>


<div class="highlight"><pre><span></span><span class="nb">print</span> <span class="s2">&quot;Hello World&quot;</span>
</pre></div>
</body>
</html>