<!DOCTYPE html>
<html>
<head>
    <title>Click Test</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
            socket.on('update_count', function(data) {
                document.getElementById('clickCount').innerHTML = 'Clicks: ' + data.count;
            });
            document.getElementById('clickButton').onclick = function() {
                socket.emit('click');
            };
        });
    </script>
</head>
<body>
    <h1>Click Test</h1>
    <button id="clickButton">Click me!</button>
    <p id="clickCount">Clicks: 0</p>
</body>
</html>